<%- include("../partials/header") %>
  <form action="/clucks" method="POST">
    <div class="form-group mb-3">
      <label for="title">Title</label>
      <input class="form-control" type="text" name="title">
    </div>
    <div class="form-group mb-3">
      <label for="content">Content</label>
      <textarea class="form-control" type="text" name="content"></textarea>
    </div>
    <div class="form-group mb-3">
      <label for="content">Image URL</label>
      <textarea class="form-control" type="text" name="image_url"></textarea>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
  </form>
<%- include("../partials/footer") %>